




/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    color: #000;
    line-height: 1.6;
    padding-top: 3.5rem;
    background-color: #FFD700   ;
    padding-left: .2%;
    padding-right: .2%;  
}
body.dark-mode {
    background-color: #333; /* dark mode */
    color: #f2f2f2;
  }

  #theme-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
  }
  #theme-icon-info {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
  }

  #download-data
  {
    position: fixed;
    top: 10px;
    right: 50px;
    padding: 10px;
  }

/* Container for the content */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container.dark-mode {
    background-color: #ffffff; /* dark mode */
    color: #000000;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
   
}

p, div {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.6em;
    text-align: center;
}
.button {
    background-color: #FFD700; /* accent color */
    color: #333; /* primary color */
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  .dark-mode .accordion-button {
    background-color: #FF6600;
    color: #000000;
  }
  .dark-mode form button {
    background-color: #FF6600;
    color: #000;
  }
  .dark-mode div.form-container button {
    background-color: #FF6600;
    color: #000;
  }
  
  .background {
    height: 100vh;
    width: 100vw;
  }

/* Center the Vex Dialog Box */
.vex-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    max-width: 90vw; /* Ensure responsiveness */
    max-height: 90vh; /* Ensure responsiveness */
    overflow-y: auto; /* Add scroll if content overflows */
}

/* Style the dialog message */
.vex-dialog-message {
    background-color: #d3d3d3; /* Light gray background */
    color: #333 !important; /* Dark gray text */
    padding: 20px;
}

/* Style the dialog buttons */
.vex-theme-default .vex-dialog-button {
    background-color: #d3d3d3; /* Light gray button background */
    color: #333; /* Dark gray button text */
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

/* Style the button container */
.vex-dialog-buttons {
    background-color: #d3d3d3; /* Light gray background */
    color: #333 !important; /* Dark gray text */
    padding: 20px;
    
}
.vex-dialog-button {
    width: 100% !important; /* Ensure buttons take full width */
}
.vex-theme-default .vex-overlay {
    background-color: rgba(100, 100, 100, 0.7); /* Neutral, semi-transparent overlay */
}
.vex-dialog-form { 
    background-color: rgba(100, 100, 100, 0.7);;
}
.vex-dialog-button-secondary.vex-dialog-button.vex-last {
    margin-top: 5px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #FF8C00; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #CC5500; 
}


/* Flash Messages */
.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    color: white;
}

.flash.success {
    background-color: #4CAF50; 
}

.flash.error {
    background-color: #f44336; /* Red */
}

.flash.info {
    background-color: #2196F3; /* Blue */
}
.flash:hover {
    opacity: 0.8;
    transform: scale(1.00);
}

/* URL List Styling */
.url-list {
    margin-top: 20px;
}

.url-list ul {
    list-style-type: none;
}

.url-list li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa;
    transition: background-color 0.3s ease;
}

.url-list li:hover {
    background-color: #f1f1f1;
}




ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

li {
    padding: 0px 15px 0px 15px; /* Padding for all sides */
    margin: 5px 0; /* Space between list items */
    border: 2px solid #FF8C00; /* Orange border */
    border-radius: 5px; /* Rounded corners */
    background-color: #fff; /* White background */
    color: #333; /* Dark text color for better contrast */
    transition: background-color 0.3s, transform 0.3s; /* Transition effects */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-duration: 0.5s;
    border-bottom: 1px solid #FF8C00 !important
    

}
li.info {
    background-color: #d1ecf1; /* Light blue background for info */
    border-color: #bee5eb; /* Blue border */
    transition: background-color 0.3s, transform 0.3s; /* Transition effects */

}
li.info:hover {
    background-color: #b3e5fc; /* Lighter blue background on hover */
    color:#333;
}

li:hover {
    background-color: #FF8C00; /* Change background on hover */
    color: white; /* Change text color on hover */
    border: 2px solid #FF8C00; /* Change border color on hover */
    white-space: normal;
    font-weight: 800;
   
    
}
li button {
    margin: 5px;
    flex-basis: 150px; /* set a minimum width for each button */
  }

.empty {
margin: 5px;
flex-basis: 150px; /* set a minimum width for each button */
border-radius: 5px;
} 
a {
    text-decoration: none;
    color: inherit;
}

.fixed-table-loading {
    display: none;
}

#dataTable {
    width: 100%;
    padding: 1rem;
}
.table-responsive {
    overflow: auto;
}

.nav-link    {
    text-decoration: none;
    color: inherit;
    position: fixed;
    top: 15px;
    left: 40px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; /* Ensures the navbar is above other elements */
    margin-bottom: 1.3rem;
} 
.navbar.dark-mode {
    background-color: #333;
}

.navbar a, .navbar i {
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.navbar a:hover, .navbar i:hover {
    color: #fff; /* Default highlight color on hover */
}

.navbar.dark-mode a:hover, .navbar.dark-mode i:hover {
    color: #FFD700; /* Highlight color on hover for dark mode */
}

.fa-trash.dark-mode:hover {
    color: #FFD700;
}
.fa-trash:hover {
    color: #fff;
}

/* For small screens (e.g. mobile) */
@media (max-width: 576px) {
    li button {
      flex-basis: 100px; /* reduce the minimum width for each button */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .notyf {
        
  padding: 20%;
  
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  }
    .notyf__toast--success {
        max-width: 300px !important; /* set the width to a smaller value */
        /* other styles */
        flex-wrap: wrap;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
  transform: translateY(25%);
      }
      .notyf__toast--error {
        max-width: 300px !important; /* set the width to a smaller value */
        /* other styles */
        flex-wrap: wrap;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
  transform: translateY(25%);
      }
    
      h1 {
        padding-left: 15%;
      } 

  }
  
  /* For medium screens (e.g. tablet) */
  @media (min-width: 576px) and (max-width: 768px) {
    li button {
      flex-basis: 120px; /* increase the minimum width for each button */
    }
    .notyf {
        
        padding: 20%;
        
        pointer-events: none;
        position: fixed;
        z-index: 9999;
        }
          .notyf__toast--success {
            max-width: 500px !important; /* set the width to a smaller value */
            /* other styles */
            flex-wrap: wrap;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: relative;
      transform: translateY(25%);
          }
          .notyf__toast--error {
            max-width: 500px !important; /* set the width to a smaller value */
            /* other styles */
            flex-wrap: wrap;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: relative;
      transform: translateY(25%);
          }
            
  }
  
  /* For large screens (e.g. desktop) */
  @media (min-width: 769px) {
    li button {
      flex-basis: 180px; /* increase the minimum width for each button */
    }
    .notify__toast {
      width: 250px !important; /* set the width to a larger value */
      /* other styles */
    }
    .notyf__toast--error {
        max-width: 1000px !important; /* set the width to a smaller value */
        /* other styles */
        flex-wrap: wrap;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
  transform: translateY(25%);
      }
  }
.success {
    background-color: #d4edda; /* Light green background for success */
    border-color: #c3e6cb; /* Green border */
}

.error {
    background-color: #f8d7da; /* Light red background for errors */
    border-color: #f5c6cb; /* Red border */
}

.info {
    background-color: #d1ecf1; /* Light blue background for info */
    border-color: #bee5eb; /* Blue border */
}


.accordion-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    background-color: #f7f7f7;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.accordion-button {
    background-color: #FF8C00;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-button:hover {
    background-color: #3e8e41;
}

.accordion-body {
    padding: 20px;
    border-top: 1px solid #ccc;
    display:none
}
.accordion-body.show {
    display: block;
  }

.accordion-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.accordion-body li {
    box-sizing: border-box;  
    border-bottom: 1px solid #ccc;
}

.accordion-body li:last-child {
    border-bottom: none;
}

/* Adjust Notyf notification width */

.notyf {
        
    pointer-events: none;
    position: fixed;
    z-index: 9999;
    }
.notyf__toast {
    max-width: 2000px; /* Adjust width as needed */
}

/* Background color for success notifications */
.notyf__toast--success {
    background-color: #218838; /* Green for success */
    color: white;
}

/* Background color for error notifications */
.notyf__toast--error {
    background-color: #c82333; /* Red for error */
    color: white;
}

/* Ripple colors for each type */
.notyf__toast--success .notyf__ripple {
    background-color: #218838 !important; /* Darker green for success */
   
}

.notyf__toast--error .notyf__ripple {
    background-color: #c82333 !important; /* Darker red for error */
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

