<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    
</head>
<i id="theme-icon" class="fas fa-sun" onclick="toggleTheme()"></i>

<body>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
        <a href="{{ url_for('index') }}">Go back to Home</a>
    </div>
</body>

</html>