<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Notyf CSS -->
    <link href="https://cdn.jsdelivr.net/npm/notyf@3.0.0/notyf.min.css" rel="stylesheet">

    <!-- Notyf JS -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.3.0/notyf.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='notifications.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    <title>Update Insights</title>
</head>
<body>
   
    <h1>Update Insights</h1>

    <form action="{{ url_for('toggle_auto_check') }}" method="GET" style="display:inline;">
        <button type="submit">{{ 'Disable Automatic Checking' if auto_check_enabled else 'Enable Automatic Checking' }}</button>
    </form>

    <form method="POST">
        <input type="text" name="url" placeholder="Enter URL" required>
        <input type="text" name="title" placeholder="Enter title" required>
        <input type="text" name="group" placeholder="Enter group" required>
        <input type="text" name="selector" placeholder="Enter CSS Selector e.g. # or . (not required)">
        <button type="submit">Add URL</button>
    </form>
    <div id="flash-messages" data-messages="{{ get_flashed_messages(with_categories=true)|tojson }}"></div>
      
          

    

    <button id="checkButton">Click me for Notification</button>
 
   

    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if changes %}
        <div class="changes-detected">
            <h3>Changes detected!</h3>
            <pre>{{ changes|safe }}</pre>
        </div>
    {% endif %}

    
{% for group, items in grouped_url_data.items() %}
  <div class="accordion-group" style="height: 10%; overflow-y: auto;">
    <h2>{{ group }}</h2>
    <button class="accordion-button" aria-expanded="false" aria-controls="accordion-{{ loop.index }}">
      <span class="sr-only">Toggle {{ group }}</span>
    </button>
    <div id="accordion-{{ loop.index }}" class="accordion-body show" aria-labelledby="accordion-{{ loop.index }}" aria-hidden="true">
      <ul>
        {% for item in items %}
          <li>
            <strong>{{ item[1].title or item[0] }}</strong> - {{ item[1].selector }}
          
            (Added: {{ item[1].added_date }} - Last Checked: {{ item[1].last_checked or 'Never' }})
          
            <div class="form-container check-changes-container" data-url="{{ url_for('check_website_changes', url=item[0]) }}">
                <button id="checkButton-{{ loop.index }}" class="check-changes-btn" data-url="{{ url_for('check_website_changes', url=item[0]) }}">Check for Changes</button>
            </div>
            
             <form action="{{ url_for('remove_url', url=item[0]) }}" method="POST" style="display:inline;">
                <button type="submit">Remove</button>
              </form>
            
            <form action="{{ url_for('go_to_website') }}" method="get" target="_blank" style="display:inline;">
                <input type="hidden" name="url" value="{{ item[0] }}">
                <button type="submit" class="btn btn-primary">Go to website</button>
            </form>
            
            <form action="{{ url_for('edit_title') }}" method="post" style="display:inline;">
                <input type="hidden" name="url" value="{{ item[0] }}">
                <input type="text" name="new_title" value="{{ item[1].title }}" placeholder="Enter new title">
                <button type="submit">Edit Title</button>
              </form>
          </li>
          <script>
            // Initialize Notyf after the script has been loaded
            const notyf = new Notyf();
        
            // Add event listener to button
            document.getElementById('checkButton').addEventListener('click', () => {
                notyf.success('This is a success notification!');
                console.log('Button clicked!');
            });
        </script>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
</div>




</body>
</html>

