<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Notyf CSS -->
    <link href="https://cdn.jsdelivr.net/npm/notyf@3.0.0/notyf.min.css" rel="stylesheet">

    <!-- Notyf JS -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.3.0/notyf.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='notifications.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
     <!-- CSS for Vex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vex-js/dist/css/vex.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vex-js/dist/css/vex-theme-default.css">

    <!-- JavaScript for Vex -->
    <script src="https://cdn.jsdelivr.net/npm/vex-js/dist/js/vex.combined.min.js"></script>

    <title class="title">Insight Updates</title>
</head>
<body>
   
    <h1>Insight Updates</h1>
    <i id="theme-icon" class="fas fa-sun" onclick="toggleTheme()"></i>
    <i id="theme-icon-info" class="fa fa-info-circle" onclick="toggleInfo()"></i>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% if changes %}
    <div class="changes-detected">
        <h3>Changes detected!</h3>
        <pre>{{ changes|safe }}</pre>
    </div>
{% endif %}

    <form method="POST">
        <input type="text" name="url" placeholder="Enter URL (required)" required>
        <input type="text" name="title" placeholder="Enter title (required)" required>
        <input type="text" name="group" placeholder="Enter group (required)" required>
        <input type="text" name="selector" placeholder="Enter CSS Selector e.g. # (id) or . (class) (optional box)">
        <button type="submit">Add URL</button>
    </form>
   
          


    
   

<div class="accordion-container">
{% for group, items in grouped_url_data.items() %}
  <div class="accordion-group"  id="accordion-{{ loop.index }}" data-group="{{ group }}" style="height: 10%; overflow-y: auto;">
    
    <button class="accordion-button" aria-expanded="false" aria-controls="accordion-{{ loop.index }}">
        <h2> Toggle  {{ group }}</h2>
    </button>
    <button class="move-up-btn accordion-button" onclick="moveGroup(event, 'up')">Move Up</button>
    <button class="move-down-btn accordion-button" onclick="moveGroup(event, 'down')">Move Down</button>
    <div id="accordion-{{ loop.index }}" class="accordion-body show" aria-labelledby="accordion-{{ loop.index }}" aria-hidden="true">
      <ul>
        {% for item in items %}
          <li>
            <strong>{{ item[1].title or item[0] }}</strong> - {{ item[1].selector }}
          
            (Added: {{ item[1].added_date }} - Last Checked: {{ item[1].last_checked or 'Never' }})
            <form style="display:inline;" data-url="{{ url_for('check_website_changes', url=item[0]) }}">
                <button  class="check-changes-btn" data-url="{{ url_for('check_website_changes', url=item[0]) }}">Check for Changes</button>
            </form>
            <form style="display:inline;">
                <button id="checkButton-{{ loop.index }}" class="show-content-btn" data-url="{{ url_for('get_previous_content', url=item[0]) }}" >Show Content</button>
            </form>
            
             <form action="{{ url_for('remove_url', url=item[0]) }}" method="POST" style="display:inline;">
                <button type="submit">Remove</button>
              </form>
            
            <form action="{{ url_for('go_to_website') }}" method="get" target="_blank" style="display:inline;">
                <input type="hidden" name="url" value="{{ item[0] }}">
                <button type="submit" class="btn btn-primary">Go to website</button>
            </form>
            
            <form action="{{ url_for('edit_title') }}" method="post" style="display:inline;">
                <input type="hidden" name="url" value="{{ item[0] }}">
                <input type="text" name="new_title" value="{{ item[1].title }}" placeholder="Enter new title">
                <button type="submit">Edit Title</button>
              </form>
          </li>
       
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <span class="empty">Empty Form...</span>
{% endfor %}
</div>
</div>




</body>
</html>

